[defaults]
deprecation_warnings = False

[ssh_connection]
ssh_args = -o ControlMaster=no -o ControlPersist=0 -o PreferredAuthentications=publickey

[inventory]
enable_plugins = amazon.aws.aws_ec2, host_list, script, auto, yaml, ini, toml

