#  Copyright Amazon.com, Inc. or its affiliates. All Rights Reserved.
#  SPDX-License-Identifier: MIT-0

---
- name: restart hft client
  hosts: aws_ec2
  collections:
    - amazon.aws.ec2_instance
  tasks:
    - name: stop hft client
      become: true
      become_user: root
      shell: |
        ps -aux | grep "java" | grep -v "grep" | awk '{print $2}' | while read -r pid ; do
          echo "Shutting down PID: $pid"
          kill -9 $pid
        done
    - name: start hft client
      become: true
      become_user: root
      shell: "tmux new -s test_client -d bash -c 'cd /home/ec2-user/; ./run_client.sh >> client_output.log 2>&1'"
      async: 45
      poll: 0
